<!DOCTYPE html>
<html>
<title>Login Error</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/static/background-dark.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-left">
        <h1 class="w3-xxxlarge w3-animate-top">Authorization Failed</h1>
        <hr class="w3-border-grey w3-left" style="margin:auto;width:52%">
        <p class="w3-large w3-left">There was an error authorizing the application to access your Strava account. Please try again.</p>
		<p> Error code: <strong>{{ error }}</strong> </p>
    </div>
</div>

</body>
</html>
