<!DOCTYPE html>
<html>
<title>Register Team</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/static/background-dark.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-left">
        <h1 class="w3-xxxlarge w3-animate-top">Select a team</h1>
        <form action="/register-team" method="POST">
            <select name="team" id="team">
                <option value="AHL">AHL</option>
                <option value="Alpha Technology">Alpha Technology</option>
                <option value="Central Management">Central Management</option>
                <option value="Compliance">Compliance</option>
                <option value="Corporate Real Estate">Corporate Real Estate</option>
                <option value="Finance">Finance</option>
                <option value="FRM">FRM</option>
                <option value="GLG">GLG</option>
                <option value="Global Private Markets">Global Private Markets</option>
                <option value="Human Resources">Human Resources</option>
                <option value="Infrastructure Central Management">Infrastructure Central Management</option>
                <option value="Legal">Legal</option>
                <option value="Man Solutions">Man Solutions</option>
                <option value="Numeric">Numeric</option>
                <option value="Product and Client Operations">Product and Client Operations</option>
                <option value="Risk">Risk</option>
                <option value="Sales and Marketing">Sales and Marketing</option>
                <option value="Trading">Trading</option>
                <option value="Trading Platform and Core Tech">Trading Platform and Core Tech</option>
                <option value="QARL">QARL</option>
            </select>
            <input type="hidden" name="athleteid" value="{{ athleteid }}" />
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
</div>

</body>
</html>


